<mat-toolbar class="navbar">
  <!-- Logo -->
  <div class="brand" routerLink="/">
    <mat-icon>movie</mat-icon>
    <span>CineBook</span>
  </div>

  <!-- Navigation -->
  <div class="nav-items">
    <a *ngFor="let item of navItems"
       mat-button
       [routerLink]="item.path"
       routerLinkActive="active">
      <mat-icon>{{ item.icon }}</mat-icon>
      {{ item.label }}
    </a>
  </div>

  <span class="spacer"></span>

  <!-- User Section -->
  <div class="user-section">
    <button mat-raised-button (click)="toggleLogin()">
      <mat-icon>login</mat-icon>
      <span>{{ isLoggedIn ? 'Logout' : 'Login' }}</span>
    </button>
  </div>
</mat-toolbar>
